<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
 
  <script src="compo/pie.js"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  
</head>
<body>
  <div id="app">
    <v-app>
      <v-app-bar  app color="purple darken-2" elevate-on-scroll  >
        
        <v-app-bar-nav-icon @click="drawer = true" color="white"  class="d-flex d-sm-none"></v-app-bar-nav-icon>
        <v-img src="img/icono.png" max-height="60" max-width="75"></v-img>

        <v-toolbar-title class="white--text"  >
            <v-btn color="white" text href="index.html"  >EduSex</v-btn> 
        </v-toolbar-title>
        
        <v-spacer></v-spacer>
        <v-btn text color="white"  href="info.html">
          ¿Quienes somos?
        </v-btn>
        <v-btn text>
            <v-toolbar-title class="white--text d-none d-sm-flex">Registarse</v-toolbar-title>
        </v-btn>
        <v-btn text>
            <v-toolbar-title class="white--text d-none d-sm-flex" >Login</v-toolbar-title>
        </v-btn>

      </v-app-bar>
      <v-navigation-drawer v-model="drawer" absolute temporary>
        <v-list nav dense>
          <v-list-item-group v-model="group" active-class="deep-purple--text text--accent-4">
            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-home</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Home</v-list-item-title>
            </v-list-item>

            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-account</v-icon>
              </v-list-item-icon>
              <v-list-item-title>login</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-icon>
                <v-icon>mdi-account</v-icon>
              </v-list-item-icon>
              <v-list-item-title>registrase</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
          <v-main class="ma-0 pa-0">   
            <v-container class="elevation-6 blue-grey lighten-5" fluid grid-list-md>
                <v-row >
                  
                  <!-- CARRUSEL DE IMAGENES -->
                  
                  
                    <template name="carrusel">
                          <v-carousel cycle height="965" hide-delimiter-background   hide-delimiters>
                              <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src" aspect-ratio="1.7" gradient="to top right, rgba(217,42,145,0.577468487394958) 14%, rgba(125,32,162,0.896796218487395) 91%">
                              <v-row class="fill-height" align="center"  justify="center">
                                
                                <v-card class="transparent elevation-0">
                                  <v-card-title class=" text-h2 text-sm-h1 white--text font-weight-bold " style="word-break: break-word"  primary-title>
                                    Bienvenido a EduSex
                                  </v-card-title>
                                  <v-card-actions>
                                  </v-card-actions>
                                </v-card>
                                
                              </v-row>
                            </v-carousel-item>
                          </v-carousel>
                        </template>
                        
                        <template>
                          <v-container style="background: linear-gradient(0deg, rgba(189,31,125,0.865983893557423) 14%, rgba(223,51,132,0.835171568627451) 45%, rgba(95, 1, 133, 0.841) 90%)" fluid>
                            <v-row>
                              <v-col cols="12">
                                <v-card class="transparent elevation-0 white--text">
                                  <v-card-title  class="justify-center  font-weight-bold text-sm-h3" primary-title>
                                    Información
                                  </v-card-title>
                                </v-card>
                              </v-col>
                              <v-col cols="12">
                                <v-sheet
                                  class="mx-auto transparent"
                                  max-width="100%"
                                >
                                  <v-slide-group
                                    multiple
                                    show-arrows
                                  >
                                    <v-slide-item
                                      v-for="link in links"
                                      :key="link"
                                      v-slot="{ active, toggle }"
                                    >
                                    <v-card class=" ma-4 elevation-4" max-width="400">
                                      <v-img :src="link.src" height="200px"></v-img>
                                      <v-card-title>
                                        {{link.title}}
                                      </v-card-title>
                                  
                                      <v-card-subtitle>
                                      {{link.sub}}
                                      </v-card-subtitle>
                                  
                                      <v-card-actions class="d-flex justify-center">
                                        <v-btn color="purple darken-2 white--text" :href="link.path">
                                          Ver más
                                        </v-btn>
                                  
                                      
                                    </v-card>
                                        
                                      
                                    </v-slide-item>
                                  </v-slide-group>
                                </v-sheet>

                              </v-col>

                            </v-row>
                            
                          </v-container>
                        </template>
                    
 <!-- --------------primer enunciado de la pagina--------------------- -->              



  <!-- CARD CON LAS IMAGENES DE LOS DESARROLLADORES                   -->

                </v-row>
            </v-container>
           <pie></pie> 
        </v-main>

</v-app>
  </div>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data () {
      return {
        show: false,
        drawer: false,
        group: null,
        items: [
          {
            src: 'https://img.freepik.com/vector-premium/gente-estudiando-educacion-sexual-leccion-biologia-anatomia-humana-leccion-salud-sexual-jovenes-anticoncepcion-sistema-reproductor-masculino-organo-interno-cuerpo-sexualidad-genero_458444-782.jpg?w=2000',
            
          },
          {
            src: 'img/edufondo.jpg',
            
          },
          {
            src: 'https://www.balneariais.es/adminbal/assets/images/noticias/educacion-sexual-para-reducir-embarazos.jpg',
            
          },
          {
            src: 'https://www.scout.es/wp-content/uploads/2020/03/educacionsexual_freepik.jpg',
            
          },

          
        ],
        links:[
          {color:'pink lighten-4',src:'https://imagenes.elpais.com/resizer/V7WZBBm5NXrkmy0bejVyNcrsgn0=/1200x0/arc-anglerfish-eu-central-1-prod-prisa.s3.amazonaws.com/public/MUENA6MT7M7PSC5RPVQ6WKUAJQ.jpg', title:'curiosidades', body:'SEXO, PODER y MACHISMO. El modelo tradicional de hombre es un modelo de competitividad y rendimiento, con el resto de los hombres. Se trata de demostrar, desde la más tierna infancia, quién es más machote.', path:'curiosidades.html'},
          {color:'white',src:'https://img.freepik.com/vector-premium/sabias-que-letras_23-2148737372.jpg?w=2000', title:'Sabias que...', sub:'sobre la sexualidad', path:'sabias.html'},
          {color:'pink lighten-4',src:'https://img.freepik.com/vector-premium/cientifico-dibujos-animados-tubos-ensayo-experimentos-ciencia_46527-27.jpg', title:'Artículos científicos', sub:'Uso de preservativos', body:"Pese a la problemática del SIDA y el creciente contagio de otras ETS, la juventud usa menos los preservativos debido en parte, a una falta de conciencia de riesgo.", path:'articulo.html'},
          {color:'white',src:'https://nutricioni.com/wp-content/uploads/2018/09/Ilustracio%CC%81n-del-vector-icono-de-la-charla-sobre-el-sexo-en-la-discusio%CC%81n-el-conocimiento-sobre-la-educacio%CC%81n-sexual.-.jpg', title:'Componentes de la sexualidad', sub:'Componente Vincular', body:'Comprende lo relacionado con el desarrollo del afecto, sentimientos amorosos y conductas de seducción que buscan a través del cuerpo y de los cinco diferentes sentidos, la obtención de placer con otros o con uno(a) mismo(a). Contempla la posibilidad de poder disfrutar sin culpa y sin vergüenza. Su vivencia no se limita a la relacioón sexual genital o coital, pues también puede experimentarse en otras actividades, como por ejemplo el baile.', path:'composex.html'},
          {color:'pink lighten-4',src:'https://educacion30.b-cdn.net/wp-content/uploads/2020/11/educacion-sexual-videos.jpg', title:'Beneficios de la educación sexual',sub:'Uso de preservativos', body:'Pese a la problemática del SIDA y el creciente contagio de otras ETS, la juventud usa menos los preservativos debido en parte, a una falta de conciencia de riesgo.', path:'bene.html'}
          
        ],

        perfils:[
          {title: 'rafael llanos', src: 'https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg', flex: 4 },
          {title: 'Steven Arcos', src: 'https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg', flex: 4 },
          {title: 'Valerie Arias', src: 'https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg', flex: 4 },
          {title: 'Zharick Insignares', src: 'https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg', flex: 6 },
          {title: 'Javier Vera', src: 'https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg', flex: 6 },

        ]
      }
    },
    
    })
  </script>
</body>
</html>